body {
  font-family: "Inter", sans-serif;
}
.container {
  margin: 32px 32px;
}
.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #111111;
  background-color: #fff;
  border: 4px solid #ff8139;
  border-radius: 100px;
  padding: 22px 56px;
}
.cardContainer {
  width: 1280px;
  height: 642px;
  overflow-x: hidden;
}
.card {
  height: 400px;
  width: 290px;
  background: #eeeeee;
  border-radius: 16px;
}
