@media screen and (min-width: 1440px) {
  .container {
    margin-left: 80px;
    margin-right: 80px;
  }
  // Header
  header.container {
    .mainMenuBurger {
      display: none;
    }
    .mainMenu {
      display: flex;
    }
  }
  //   1st section ------------
  .launching {
    margin-bottom: 182px;
    .container {
      margin-bottom: 80px;
      display: flex;
      gap: 146px;
      overflow-y: hidden;
    }
    .launching__img {
      width: 700px;
      height: auto;
      position: absolute;
      right: -50px;
      top: -60px;
    }

    &__text {
      width: 43%;
      h2 {
        font-size: 96px;
        line-height: 116px;
      }
      p {
        margin-top: 32px;
        margin-bottom: 41px;
      }
    }
  }
  //   2nd section -------------------
  .free {
    margin: 0 80px;
    background: url(../img/background.svg) no-repeat;
    background-size: 100%;

    .container {
      margin: 0;
      padding: 154px 596px 64px 64px;
    }
    h2 {
      margin-bottom: 24px;
    }
    h4 {
      width: auto;
      line-height: 30px;
    }
  }
  //   3rd section ---------------
  .icons {
    .container {
      margin: 120px 80px;
      grid-template-columns: repeat(5, 1fr);
      gap: 106px;
      .opendoor {
        display: block;
      }
    }
  }
  //   4th section -------------
  .auction {
    margin-bottom: 120px;
    h2 {
      margin-bottom: 24px;
    }
    p {
      margin-bottom: 56px;
    }
  }
}
