* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/*  helpers */

.flex {
  display: flex;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.max-w-300 {
  max-width: 300px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
