@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "./reset";
@import "common";

// header/menu---------------------
header.container {
  margin: 70px 80px 182px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mainMenuBurger span::before {
    font-weight: bold !important;
    cursor: pointer;
    color: #999999;
    font-size: 32px;
  }
  .mainMenu {
    display: none;
    padding: 0;
    margin: 0;
    gap: 28px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    color: #555555;
    a {
      text-decoration: none;
    }
    li:last-of-type {
      color: #ff3998;
    }
  }
}

//   1-st section --------------
.launching {
  margin-bottom: 80px;
  .container {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 80px;
  }
  .launching__img {
    width: 420px;
    height: auto;
    position: absolute;
    right: -203px;
    top: -50px;
  }

  &__text {
    width: 274px;
    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ff3998;
      margin-top: 38px;
      margin-bottom: 24px;
    }
    h2 {
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      color: #111111;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #555555;
      margin-bottom: 32px;
    }
  }
}
// 2-nd section ---------------
.free {
  background: url(../img/background.svg) no-repeat;
  background-size: cover;
  background-position: -750px;
  .container {
    margin: 0;
    padding: 122px 32px 32px 32px;
  }
  h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #111111;
    margin-bottom: 16px;
  }
  h4 {
    width: 360px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 0;
  }
}
// 3-rd section -----------------
.icons {
  .container {
    margin: 64px 32px 56px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;

    .opendoor {
      display: none;
    }
  }
}
// 4-th section ----------------
.auction {
  margin-bottom: 92px;
  .container {
    overflow: hidden;
  }
  .cardContainer {
    display: flex;
    gap: 40px;
  }
  h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #111111;
    margin-bottom: 16px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    margin-bottom: 40px;
    a {
      font-weight: 500;
    }
  }
}
.card__description {
  padding: 24px;
  display: flex;
  gap: 24px;

  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #111111;
    margin: 0;
  }
  p {
    margin: 0;
  }

  .first-half {
    display: flex;
    flex-direction: column;
    gap: 12px;
    small {
      color: #ff8139;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #777777;
    }
  }
  .second-half {
    display: flex;
    flex-direction: column;
    gap: 12px;
    small {
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      text-align: right;
      text-transform: uppercase;
      color: #777777;
    }
    h4 {
      text-align: right;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      text-align: right;
      color: #777777;
    }
    .eth {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}
// 5-th section ----------------
.greenWoman {
  .container {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 0;
  }
  .greenWoman__img {
    position: absolute;
    right: -30px;
    bottom: 0;
  }
  .hr {
    background-color: #eeeeee;
    height: 2px;
    width: 100%;
  }
  .hr2 {
    background: #111111;
    opacity: 0.08;
    height: 2px;
  }
  h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ff3998;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  h2 {
    width: 250px;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    color: #111111;
    margin-bottom: 17px;
  }
  p {
    width: 205px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    span {
      display: none;
    }
    margin-top: 5px;
    margin-bottom: 0;
  }
  .btn {
    margin-top: 32px;
    margin-bottom: 66px;
  }
}
// footer ----------------------
.foot {
  margin-top: 67px;
  .container.foot-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #555555;
    margin-top: 40px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #555555;
  }
  .logoIcons {
    margin-bottom: 24px;
    grid-column: span 2;
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #555555;
      margin-top: 30px;
      margin-bottom: 32px;
    }
    &__icons {
      display: flex;
      gap: 16px;
      color: #999999;
    }
  }
  .container.last-foot {
    .foot__mobileNone {
      display: none;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #999999;
    }
    p:first-child {
      margin-top: 44px;
      margin-bottom: 105px;
    }
  }
}
@import "media";
